* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
  color: black;
}

.navbar .dropdown-item {
  color: black;
  font-size: 0.8rem;
  padding: 0.5em 3em;
}

.navbar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  opacity: 0; /* Set the opacity to 0 */
  transition: opacity 0.3s ease-in-out; /* Add a transition for the opacity */
  z-index: 1080;
  height: 90px;
}

.navbar-visible {
  display: flex;
  opacity: 1; /* Set the opacity to 1 */
  transition: opacity 0.3s ease-in-out; /* Add a transition for the opacity */
}

.navbar-visible a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.navbar-nav li a {
  font-weight: lighter; /* adjust the font weight value as per your preference */
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.nav-link {
  color: black;
}

.awsnav {
  background-color: #0c0a51;
}

.navbar-nav.ms-auto .nav-item:last-child {
  padding-right: 2rem;
}

.card-img-top {
  height: 250px; /* Change this value to whatever height you want */
  object-fit: cover; /* This ensures that the image fills the entire space without distortion */
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.header-text {
  font-size: 3rem;
  font-weight: bolder;
}

.hero-img {
  overflow-x: hidden;
}

.card-footer {
  font-size: 0.7rem;
}

.page-footer {
  display: flex;
}

.headerBerita::after {
  content: "";
  display: block;
  width: 35%;
  margin-top: 0.25em;
  border-bottom: 1px solid black;
}

.headerButton::after {
  content: "";
  display: block;
  width: 15%;
  margin-top: 0.25em;
  border-bottom: 1px solid black;
}

.mid-title {
  background-color: #f1f0f0;
}

.mid-title p {
  padding: 1em;
  padding-left: 2.3em;
  font-size: 0.7rem;
}

.news-header-smol {
  padding-left: 1.5em;
}

.news-header-title {
  padding-left: 1.5em;
}

.news-header-title p {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.side-news {
  position: sticky;
}

.side-news h5 {
  font-size: 1rem;
}

.side-news-date {
  font-size: 0.7rem;
}

#sticky {
  position: sticky;
  top: 5%;
}

.card {
  border: none;
}

.post-button .btn {
  font-size: 0.9rem;
  width: 130px;
  color: white;
  background-color: #0c0a51;
}

#back-to-top-btn {
  display: none; /* hide the button by default */
  position: fixed; /* make it fixed so it doesn't move with the content */
  bottom: 20px; /* distance from bottom of page */
  right: 20px; /* distance from right of page */
  z-index: 9999; /* make sure it's on top of other elements */
  border: none; /* remove border */
  outline: none; /* remove outline */
  background-color: #162eb7; /* background color */
  cursor: pointer; /* make it look clickable */
  padding: 10px 15px; /* add some padding */
}

.footer {
  background-color: black;
  color: rgb(189, 188, 188);
  font-size: 0.8rem;
  padding: 0.8em;
}

.footer a {
  color: rgb(189, 188, 188);
}
